<!DOCTYPE html>
<html lang="es">
	<%- include('head');%>
	<body class="container bg-light">
		<header>
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="/">Formulario</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/productos"
						>Productos</a
					>
				</li>
			</ul>
		</header>
		<h2 class="text-primary mt-4">Productos en el archivo</h2>
		<% if (content.length == 0) { %>
		<h3 class="alert-danger rounded p-2">No se encontraron productos</h3>
		<% } else { %>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Título</th>
					<th scope="col">Precio</th>
					<th scope="col">URL imagen</th>
				</tr>
			</thead>
			<tbody>
				<% content.forEach(producto => { %>
				<tr>
					<th scope="row"><%= producto.id %></th>
					<td><%= producto.title %></td>
					<td><%= producto.price %></td>
					<td><img src=<%= producto.thumbnail %> class="img-fluid img-thumbnail" alt=""></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
		<% } %> <%- include('scripts');%>
	</body>
</html>
